<div class="timer">
  <div class="timer__count">
    <p class="count">{{timer | timer}}</p>
  </div>
  <div class="timer__buttons">
    <div class="wrapper__btn grey" [class.darkgrey]="!timerStarted">
      <button class="btn grey" #wait [disabled]="!timerStarted" [class.darkgrey]="!timerStarted">wait</button>
    </div>
    <div *ngIf="!timerStarted" class="wrapper__btn green">
      <button class="btn green" (click)="startTimer()">start</button>
    </div>
    <div *ngIf="timerStarted" class="wrapper__btn red">
      <button class="btn red" (click)="stopTimer()">stop</button>
    </div>
    <div class="wrapper__btn grey">
      <button class="btn grey" (click)="resetTimer()">reset</button>
    </div>
  </div>
</div>
